[**@cartoonclouds/phone-normaliser v0.1.0**](../README.md)

***

# Type Alias: ValidationResults

> **ValidationResults** = [`ValidationResult`](ValidationResult.md)[]

Defined in: [utils/phone/types.ts:122](https://gitlab.com/good-life/glp-frontend/-/blob/main/packages/phone-normaliser/src/utils/phone/types.ts#L122)

Convenience alias for arrays of validation results.
